.color-title {
    font-weight: normal;
    margin-left:9%;
}

img {
    height: 200px;
    width: 200px;
}

#red {
    color: red;
}

h2[id = "blue"] {
    color: blue;
}

[id~="orange"] {
    color: orange;
}

#green {
    color: green;
}

h2:last-of-type {
    color:gold ;    
}